<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


<div id="search">
    <div class="input-group input-group-lg">
      <input id="palabraBuscar" type="text" class="form-control" placeholder="Buscar..." value="{{palabra}}">
      <div class="input-group-append">
        <button (click)="buscarPaginas()" class="btn btn-outline-secondary" type="submit" id="button-buscar"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>  

<h5>Resultados: {{paginasR.length}}</h5>
  <hr>
<div class="col-12">
  <div class="card-colums">
    <app-paginas [pagina]="pagina" [indice]="i" 
                *ngFor="let pagina of paginasR, let i=index" ></app-paginas>
  </div>
</div>
