
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<body>
  <div id="search">
      <h1>Search Rick</h1>
      <div class="input-group input-group-lg">
        <input id="palabraBuscar" type="text" class="form-control" placeholder="Buscar...">
        <div class="input-group-append">
          <button (click)="buscarPalabra()" class="btn btn-outline-secondary" type="button" id="button-buscar"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>  
</body>


   