<a href={{pagina.nameDoc}}>
  <div class="card" style="margin: 10px auto;" >
    <div class="card-body">
      <h5 class="card-title">{{ pagina.titulo }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ pagina.nameDoc }}</h6>
      <p class="card-text">{{ pagina.descripcion }}</p>
    </div>
  </div>  
</a>